section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom:16px
  }
  ul {
    list-style: none;  // remove os pontinhos 
    li {
      & + li {
        margin-top: 20px;
      }
      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px;
      }
      a {
        display: inline-block; // permite a gente aumentar a altura
        margin-top: 16px;
        text-decoration: none;
        color: #B257e6
      }
    }
  }
}